<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just Tech News</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav>
          {{#if loggedIn}}
          <a href="/dashboard">dashboard</a>
          <button id="logout" class="btn-no-style">logout</button>
          {{else}}
          <a href="/login">login</a>
          <a href="/sign-up">Sign Up</a>
          {{/if}}
        </nav>
        <h1>
          <a href="/">Marty's Tech News</a>
        </h1>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <a href="https://github.com/Devnah4">Made by Devnah4</a>
      </footer>
    </div>
      {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
      {{/if}}
  </body>

</html>