<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

{{#if loggedIn}}
<a href="/new-post"><button class="new-post">Make a Post</button></a>
{{/if}}